*,
*::before,
*::after {
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	max-width: 1280px;
	margin: 0 auto;
	font-family: "Space Mono", monospace;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	margin-top: 2rem;
	border-radius: 4px;
	border: 1px solid lightgray;
	max-width: 90%;
	margin: 2rem auto;
}

.logo img {
	width: 100%;
	max-width: 6rem;
}

.logo {
	justify-content: space-between;
	gap: 1rem;
}

.themeSelector {
	width: 26rem;
	justify-content: space-around;
	padding: 1rem;
}

.themeSelector > span {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: gray;
}

.addTask {
	padding: 2rem;
	gap: 1rem;
	border: 1px solid lightgray;
	border-radius: 0.4rem;
	max-width: min-content;
	margin: 4rem auto;
}

.addTask .taskInput {
	padding: 1rem;
	width: 18rem;
	border: 2px solid lightgray;
	border-radius: 4px;
}

.taskInput:focus {
	outline: 2px solid lightgray;
}

.addTask .btn {
	border: 0;
	padding: 0.8rem 1rem;
	width: 6rem;
	background: hsla(110, 80%, 40%, 1);
	border-radius: 4px;
	cursor: pointer;
	color: white;
}

.addTask .btn:hover {
	background: hsla(110, 60%, 30%, 1);
}

.showTask {
	margin: 0 auto;
	border: 1px solid lightgray;
	width: 90%;
	padding: 2rem;
	border-radius: 4px;
	padding-bottom: 6rem;
}

.showTask .heading {
	justify-content: space-between;
	padding-bottom: 1rem;
	border-bottom: 1px solid lightgray;
}

.title {
	gap: 1rem;
	font-size: 1.2rem;
}

.title .count {
	background: lightgray;
	border-radius: 30%;
	padding: 0.4rem;
}

.btn {
	border: 0;
	padding: 1rem;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
}

.showTask .heading .btn {
	background: hsla(210, 100%, 60%, 1);
}

.cardsWrapper {
	justify-content: center;

	padding: 2rem;
	gap: 2rem;
	flex-wrap: wrap;
}

.card {
	display: flex;
	max-width: 28rem;
	border-radius: 4px;
	padding: 1rem;
	justify-content: space-between;
	box-shadow: 1px 1px 5px lightgray;
	border-left: 3px solid hsla(210, 100%, 60%, 1);
	gap: 1rem;
}

.cardInfo {
	flex: 1 1 70%;
}

.cardInfo .cardTitle {
	font-size: 1.8rem;
}

.cardInfo .date {
	font-size: 1.2rem;
	color: gray;
}

/* utilisty classes for flexbox */
.flex-container {
	display: flex;
	align-items: center;
}
