*,
*::before,
*::after {
	margin: 0;
}

html {
	font-size: 62.5%;
	/* font-family: "Inconsolata", monospace; */
}

body {
	font-size: 1.6rem;
	max-width: 1280px;
	margin: 0 auto;
	font-family: "Space Mono", monospace;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 1.6rem;
	box-shadow: 1px 1px 2px #4f4f4f;
	margin-top: 2rem;
	border-radius: 1rem;
	max-width: 80%;
	margin: 2rem auto;
}

.logo img {
	width: 100%;
	max-width: 6rem;
}

.logo {
	justify-content: space-between;
	gap: 1rem;
}

.themeSelector {
	width: 26rem;
	justify-content: space-around;
	padding: 1rem;
}

.themeSelector > span {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: gray;
}

.addTask {
	padding: 2rem;
	gap: 1rem;
	border: 1px solid lightgray;
	border-radius: 0.5rem;
	max-width: min-content;
	margin: 2rem auto;
}

.addTask .taskInput {
	padding: 0.5rem 1rem;
	width: 36rem;
	border: 2px solid lightgray;
	border-radius: 0.4rem;
	line-height: 2em;
}

.addTask .btn {
	border: 0;
	padding: 0.8rem 1rem;
	width: 6rem;
	background: lightgreen;
	border-radius: 0.4rem;
	cursor: pointer;
	color: white;
}

.btn:hover {
	background: darkseagreen;
}

/* utilisty classes for flexbox */
.flex-container {
	display: flex;
	align-items: center;
}
