*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
		rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	max-width: 1280px;
	margin: 0 auto;
	font-family: "Space Mono", monospace;
}

.App{
	min-height: 100vh;
	padding: 1rem;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	border-radius: 4px;
	border: 1px solid lightgray;
	max-width: 90%;
	margin: 2rem auto;
}

.logo img {
	width: 100%;
	max-width: 6rem;
}

.logo {
	justify-content: space-between;
	gap: 1rem;
}

.themeSelector {
	width: 26rem;
	justify-content: space-around;
	padding: 1rem;
}

.themeSelector > span {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	border: 1px solid lightgray;
	cursor: pointer;
}

.activeTheme {
	scale: 1.2;
	transition: all 500ms;
	color: #fff;
}

.light {
	background-color: #ffffff;
	transition: all 500ms;
}

.medium {
	background-color: #efefef;
	transition: all 500ms;
}

.dark {
	background-color: #15202b;
	color: #fff;
	transition: all 500ms;
}

.gradientOne {
	background: linear-gradient(
		90deg,
		hsla(191, 75%, 60%, 1) 0%,
		hsla(248, 87%, 36%, 1) 100%
	);
}
.gradientTwo {
	background: linear-gradient(
			235deg,
			#ffffff 0%,
			#000f25 100%
		),
		linear-gradient(180deg, #6100ff 0%, #000000 100%),
		linear-gradient(
			235deg,
			#ffa3ac 0%,
			#ffa3ac 40%,
			#00043c calc(40% + 1px),
			#00043c 60%,
			#005d6c calc(60% + 1px),
			#005d6c 70%,
			#00c9b1 calc(70% + 1px),
			#00c9b1 100%
		),
		linear-gradient(
			125deg,
			#ffa3ac 0%,
			#ffa3ac 40%,
			#00043c calc(40% + 1px),
			#00043c 60%,
			#005d6c calc(60% + 1px),
			#005d6c 70%,
			#00c9b1 calc(70% + 1px),
			#00c9b1 100%
		);
	background-blend-mode: soft-light, screen, darken, normal;
	color: #fff;
}

.gradientThree {
	background: linear-gradient(
			125deg,
			#ffffff 0%,
			#000000 100%
		),
		linear-gradient(
			200deg,
			#ffd9e8 0%,
			#ffd9e8 50%,
			#de95ba calc(50% + 1px),
			#de95ba 60%,
			#7f4a88 calc(60% + 1px),
			#7f4a88 75%,
			#4a266a calc(75% + 1px),
			#4a266a 100%
		),
		linear-gradient(
			113deg,
			#ffd9e8 0%,
			#ffd9e8 40%,
			#de95ba calc(40% + 1px),
			#de95ba 50%,
			#7f4a88 calc(50% + 1px),
			#7f4a88 70%,
			#4a266a calc(70% + 1px),
			#4a266a 100%
		);
	background-blend-mode: overlay, overlay, normal;
}

.addTask {
	padding: 2rem;
	gap: 1rem;
	border: 1px solid lightgray;
	border-radius: 0.4rem;
	max-width: min-content;
	margin: 4rem auto;
}

.addTask .taskInput {
	padding: 1rem;
	width: 18rem;
	border: 2px solid lightgray;
	border-radius: 4px;
}

.taskInput:focus {
	outline: 2px solid lightgray;
}

.addTask .btn {
	border: 0;
	padding: 0.8rem 1rem;
	width: 6rem;
	background: hsla(110, 80%, 40%, 1);
	border-radius: 4px;
	cursor: pointer;
	color: white;
}

.addTask .btn:hover {
	background: hsla(110, 60%, 30%, 1);
}

.showTask {
	margin: 0 auto;
	border: 1px solid lightgray;
	width: 90%;
	padding: 2rem;
	border-radius: 4px;
	padding-bottom: 6rem;
}

.showTask .heading {
	justify-content: space-between;
	padding-bottom: 1rem;
	border-bottom: 1px solid lightgray;
}

.title {
	gap: 1rem;
	font-size: 1.2rem;
}

.title .count {
	background: lightgray;
	border-radius: 30%;
	padding: 0.4rem;
}

.btn {
	border: 0;
	padding: 1rem;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
}

.showTask .heading .btn {
	background: hsla(210, 100%, 60%, 1);
}

.cardsWrapper {
	justify-content: center;
	padding: 2rem;
	gap: 2rem;
	flex-wrap: wrap;
}

.card {
	display: flex;
	max-width: 28rem;
	border-radius: 4px;
	padding: 1rem;
	justify-content: space-between;
	box-shadow: 1px 1px 5px lightgray;
	border-left: 3px solid hsla(210, 100%, 60%, 1);
	gap: 1rem;
}

.cardInfo {
	flex: 1 1 70%;
}

.cardInfo .cardTitle {
	font-size: 1.8rem;
}

.cardInfo .date {
	font-size: 1.2rem;
	color: gray;
}

.cardActions > span {
	cursor: pointer;
}

/* utilisty classes for flexbox */
.flex-container {
	display: flex;
	align-items: center;
}
